 @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: 1px;
    text-align: center;
}
header {
    display: grid;
    height: 6%;
    align-items: center;
  
}
 

.mobile-toggle { 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}     

li {
    list-style-type: none;
}
.smoothScroll {
    color: black;
}

/* main-part */
.main-part {
    display: grid;
    padding: 6%;
    background: linear-gradient(45deg, #e55d87 0, #5fc3e4 100%);
    color: white;
    font-size: 40px;

 /*  justify-items: center;
  align-content: center;
  justify-content: center; */
  
}

.letterFlip {
  color: #f8a4be;
  display: inline; 
  -webkit-animation: letterflip 7s infinite;
  animation: letterflip 7s infinite; 
}
.heading1 {
font-size: 65px;
}
  .heading {
    font-size: 20px;
    margin-top: 18px;
}
.fa-heart-o {
    font-size: 110px;
    text-shadow: 2px 2px rgb(253, 246, 246);
    -webkit-animation: heartbeat 15s infinite;
    animation: heartbeat 15s infinite;
    -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.clickme { 
    background: linear-gradient(45deg, #e55d87 0, #5fc3e4 100%);
    border: none;
    padding: 20px 40px;
    margin-top: 3rem;
    color: white;
} 

.scroll-down {
    color: #e55d87;
    font-size: 80px;
   
   
}
.introduction {
    display: grid;
    padding: 1%;
   justify-content: center;

}
.services {
    background-color: #e9f1f1;  
    color: #113c57;
}


.text {
    font-size: 30px;
}
.textBlock {
    display: grid;
    padding: 8%;
    letter-spacing: 1px;
    line-height: 3;
}
.empty-space,
.square {
    display: grid;
    padding: 5%;
   justify-content: center;   
}

.box {
    width: 80px;
    height: 80px;
    background-color: white;
    animation: animateBox 3s linear infinite; 
}

.title {
    font-size: 90px;
   color: rgb(44, 36, 38);
}
.work {
    display: grid;
     background: rgb(245, 237, 239);
    padding: 13%;  
}
.threeColumns {
    display: flex;
    justify-content: space-between;
}

/* key frames and animations  */
@-webkit-keyframes letterflip {
    80% {
        color: white;
    }
   
}

@keyframes letterflip {
 
    80% {
        color: white;
    }
   
}
 @-webkit-keyframes heartbeat {
     0% {
         -webkit-transform: rotateY(0);
        transform: rotateY(0);
     }
   
    50% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
       
    }
    70% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
       
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
       
    }
    
   
}
@keyframes heartbeat {
    0% {
        -webkit-transform: rotateY(0);
       transform: rotateY(0);
    }
  
   50% {
       -webkit-transform: rotateY(180deg);
       transform: rotateY(180deg);
      
   }
   70% {
       -webkit-transform: rotateY(180deg);
       transform: rotateY(180deg);
       color: #f1b6c9;
       text-shadow: 2px 2px #f8c1d2 ;
      
   }
   100% {
       -webkit-transform: rotateY(360deg);
       transform: rotateY(360deg);
      
   }
   
   
}
@keyframes animateBox {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
        
    }
    25% {
        transform: rotateX(180deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg);
    }
    75% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg);
    }

}
@media only screen and (max-width: 600px) {
    
    .mobile-toggle {
        display: none;
    }
 
 .title {
     font-size: 40px;  
 }
 .text {
     font-size: 22px;
 }
.threeColumns {
    flex-direction: column;  
 
}
.work {
   
    padding: 8%;
}
.images {
    margin-bottom: 0.5rem;
}
}